.feature {
  margin: 60px auto;
  background-color: silver;
}
.feature p {
  margin-top: 20px;
}
.video {
  margin-bottom: 30px;
}
.video {
  margin-bottom: 30px;
}
.video {
  margin-bottom: 30px;
}
.video {
  margin-bottom: 30px;
  font-effect: outline;
  
}
b4-$
